<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cats">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".CatsApp">
        <activity android:name=".presentation.list.CatsActivity"
            android:theme="@style/Theme.Cats"/>
        <activity android:name=".presentation.details.CatDetailsActivity"
            android:theme="@style/Theme.Cats"/>
    </application>
</manifest>